name: ci

on:
  pull_request:
  push:
    branches:
      - main

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"

      - uses: foundry-rs/foundry-toolchain@v1

      - run: npm ci
      - run: npm run check
      
      - name: Run Coverage & Report
        uses: ./.github/actions/run-coverage 
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }} 
