name: integration

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"

      - uses: foundry-rs/foundry-toolchain@v1

      - name: Install dependencies
        run: npm ci

      - name: Run integration checks
        run: VERBOSE=true ./run-integration-tests.sh
